@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  color: #202020;
  background: #efefef;
}

@font-face {
  font-family: "Univa Nova";
  src: url(../fonts/UnivaNova-Bold.woff2), url(../fonts/UnivaNova-Bold.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Univa Nova";
  src: url(../fonts/UnivaNova-Medium.woff2), url(../fonts/UnivaNova-Medium.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Univa Nova";
  src: url(../fonts/UnivaNova-Regular.woff2), url(../fonts/UnivaNova-Regular.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

.empty-value.empty {
  display: inline;
}

.empty-value {
  display: none;
  position: absolute;
  padding-bottom: 15px;
  font-family: "Univa Nova", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #B74646;
}

.display-timer {
  margin-top: 70px;
}

.hms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hms span {
  color: #959595;
  font-family: "Univa Nova", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.timer-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1060px;
  height: 585px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 30px;
  border: none;
  padding: 25px 30px 25px 30px;
}
.timer-done img {
  margin-top: 30px;
}
.timer-done h1 {
  color: #464C55;
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 53px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.timer-done button {
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #464C55;
  width: 140px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #959595;
  background-color: transparent;
  transition: 0.5s ease;
}
.timer-done button:hover {
  color: white;
  background: #464C55;
}

.timer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-output {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.timer-output .colon {
  font-size: 120px;
  font-family: "Univa Nova", sans-serif;
  font-weight: 600;
  text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.5);
}
.timer-output .timer-output-time {
  font-size: 120px;
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  border: none;
  text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.5);
}

.inputs {
  display: flex;
  align-items: center;
}
.inputs .output-colon {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}
.inputs .input.empty {
  border: 3px solid #B74646;
}
.inputs .input {
  display: flex;
  text-align: center;
  transition: 0.5s;
  color: white;
  font-size: 30px;
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  width: 80px;
  height: 70px;
  background: #454A54;
  border: 1.5px solid #B6B6B6;
  border-radius: 10px;
}
.inputs .input::-moz-placeholder {
  color: #E3E3E3;
}
.inputs .input::placeholder {
  color: #E3E3E3;
}

.timer-start.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E3E3E3;
  background: #464C55;
  box-shadow: 0px 4px 10px 0.5px rgba(70, 76, 85, 0.5);
}

.timer-start.error {
  border: 3px solid #B74646;
  color: #B74646;
}

.timer-start.clear {
  color: #E3E3E3;
  background-color: #B74646;
  border: none;
}

.timer-start {
  color: white;
  font-size: 20px;
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  color: #464C55;
  width: 160px;
  height: 55px;
  background: transparent;
  border: 3px solid #464C55;
  border-radius: 16px;
  transition: ease 0.5s;
  margin-top: 30px;
}

.display-stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.display-stopwatch .box-stopwatch {
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease;
}
.display-stopwatch .box-stopwatch .time {
  display: flex;
}
.display-stopwatch .box-stopwatch .time p {
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 120px;
  text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.5);
}
.display-stopwatch .box-stopwatch .miliseconds {
  font-size: 45px;
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.stopwatch-buttons {
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: white;
}

.start {
  margin-right: 30px;
}

.start-btn {
  width: 130px;
  height: 50px;
  background: #464C55;
  border-radius: 16px;
  border: none;
  text-align: center;
}

.reset-btn.abb {
  background: #B74646;
}

.reset-btn {
  transition: 0.5s;
  width: 130px;
  height: 50px;
  background: rgba(173, 98, 98, 0.5803921569);
  border-radius: 16px;
  border: none;
  text-align: center;
}

.display-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.display-main .box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.display-main .box-main p {
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 120px;
  text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.5);
}
.display-main .box-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.display-main .box-info p {
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #959595;
}

.all-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  transition: 1s;
}

.active {
  display: flex;
  animation: active 0.4s linear 1;
}

.active-btn {
  display: inline;
  animation: active 0.4s linear 1;
}

.none {
  display: none;
}

.nav-main .item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.nav-main .item-list li .home {
  width: 45px;
  height: 45px;
}
.nav-main .item-list li .a-hover:focus {
  border-bottom: 1.5px solid white;
}
.nav-main .item-list li .a-hover:hover {
  border-bottom: 1.5px solid white;
}
.nav-main .item-list li .home {
  border-radius: 50%;
}
.nav-main .item-list li .home:hover {
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.5);
}
.nav-main .item-list li .home:focus {
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.5);
}
.nav-main .item-list li a {
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 3px;
}
.nav-main .item-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-mini .item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.nav-mini .item-list li .home {
  width: 45px;
  height: 45px;
}
.nav-mini .item-list li .a-hover:focus {
  border-bottom: 1.5px solid #908A96;
}
.nav-mini .item-list li .a-hover:hover {
  border-bottom: 1.5px solid #908A96;
}
.nav-mini .item-list li a {
  font-family: "Univa Nova", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 3px;
  color: #908A96;
}
.nav-mini .item-list li:not(:last-child) {
  margin-right: 50px;
}

@keyframes none {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 75%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes active {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 932px) {
  .display-timer {
    margin-bottom: 40px;
    margin-top: 160px;
  }
  .empty-value {
    padding-bottom: 50px;
    font-size: 18px;
    z-index: -999;
  }
  .timer-output {
    margin-bottom: 40px;
  }
  .timer-output .timer-output-time {
    font-size: 110px;
  }
  .timer-output .colon {
    font-size: 58px;
  }
  .inputs {
    margin-top: 0px;
  }
  .inputs .input {
    width: 70px;
    height: 60px;
    font-size: 25px;
  }
  .inputs .output-colon {
    font-size: 30px;
  }
  .hms span {
    font-size: 13px;
  }
  .timer-button {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .timer-button .timer-start {
    font-size: 20px;
    width: 140px;
    height: 42px;
  }
  .timer-done {
    width: 700px;
    height: 320px;
    margin-bottom: 90px;
  }
  .timer-done h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .timer-done img {
    display: none;
  }
  .timer-done .done-btn {
    font-size: 20px;
    width: 145px;
    height: 40px;
  }
}
@media (max-width: 844px) {
  .display-timer {
    margin-bottom: 40px;
    margin-top: 160px;
  }
  .empty-value {
    padding-bottom: 50px;
    font-size: 18px;
    z-index: -999;
  }
  .timer-output {
    margin-bottom: 40px;
  }
  .timer-output .timer-output-time {
    font-size: 110px;
  }
  .timer-output .colon {
    font-size: 58px;
  }
  .inputs {
    margin-top: 0px;
  }
  .inputs .input {
    width: 70px;
    height: 60px;
    font-size: 25px;
  }
  .inputs .output-colon {
    font-size: 30px;
  }
  .hms span {
    font-size: 13px;
  }
  .timer-button {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .timer-button .timer-start {
    font-size: 20px;
    width: 140px;
    height: 42px;
  }
  .timer-done {
    width: 700px;
    height: 320px;
    margin-bottom: 90px;
  }
  .timer-done img {
    display: none;
  }
  .timer-done h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .timer-done .done-btn {
    font-size: 20px;
    width: 145px;
    height: 40px;
  }
}
@media (max-width: 769px) {
  .display-timer {
    margin-bottom: 40px;
    margin-top: 160px;
  }
  .empty-value {
    padding-bottom: 50px;
    font-size: 18px;
    z-index: -999;
  }
  .timer-output {
    margin-bottom: 40px;
  }
  .timer-output .timer-output-time {
    font-size: 100px;
  }
  .timer-output .colon {
    font-size: 58px;
  }
  .inputs {
    margin-top: 0px;
  }
  .inputs .input {
    width: 70px;
    height: 60px;
    font-size: 25px;
  }
  .inputs .output-colon {
    font-size: 30px;
  }
  .hms span {
    font-size: 13px;
  }
  .timer-button {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .timer-button .timer-start {
    font-size: 20px;
    width: 140px;
    height: 42px;
  }
  .timer-done {
    width: 700px;
    height: 250px;
    margin-bottom: 160px;
  }
  .timer-done img {
    display: none;
  }
  .timer-done h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .timer-done .done-btn {
    font-size: 20px;
    width: 145px;
    height: 40px;
  }
}
@media (max-width: 430px) {
  .display-timer {
    margin-bottom: 100px;
  }
  .empty-value {
    padding-bottom: 40px;
    font-size: 25px;
  }
  .inputs {
    margin-top: 10px;
  }
  .inputs .input {
    width: 90px;
    height: 80px;
    font-size: 38px;
  }
  .inputs .output-colon {
    font-size: 48px;
  }
  .hms span {
    font-size: 17px;
  }
  .timer-output {
    width: 410px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;
  }
  .timer-output .timer-output-time {
    font-size: 80px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .timer-output .colon {
    font-size: 48px;
    color: #E3E3E3;
  }
  .timer-button {
    margin-top: 20px;
  }
  .timer-button .timer-start {
    font-size: 25px;
    width: 180px;
    height: 55px;
    margin-top: 10px;
  }
  .timer-done {
    width: 375px;
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .timer-done img {
    display: inline;
    width: 375px;
  }
  .timer-done h1 {
    font-size: 46px;
    margin-top: 200px;
  }
  .timer-done .done-btn {
    font-size: 23px;
    width: 170px;
    height: 45px;
  }
}
@media (max-width: 390px) {
  .display-timer {
    margin-bottom: 150px;
  }
  .empty-value {
    padding-bottom: 32px;
    font-size: 25px;
  }
  .inputs {
    margin-top: 15px;
  }
  .inputs .input {
    width: 85px;
    height: 75px;
  }
  .inputs .output-colon {
    font-size: 45px;
  }
  .hms span {
    font-size: 17px;
  }
  .timer-output {
    width: 375px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;
  }
  .timer-output .timer-output-time {
    font-size: 76px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .timer-output .colon {
    font-size: 48px;
    color: #E3E3E3;
  }
  .timer-button {
    margin-top: 15px;
  }
  .timer-button .timer-start {
    font-size: 25px;
    width: 180px;
    height: 50px;
    margin-top: 10px;
  }
  .timer-done {
    width: 375px;
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .timer-done img {
    display: inline;
    width: 375px;
  }
  .timer-done h1 {
    font-size: 46px;
    margin-top: 200px;
  }
  .timer-done .done-btn {
    font-size: 23px;
    width: 170px;
    height: 45px;
  }
}
@media (max-width: 375px) {
  .timer-output {
    width: 360px;
  }
  .timer-output .timer-output-time {
    font-size: 73px;
  }
  .empty-value {
    padding-bottom: 35px;
    font-size: 23px;
  }
  .timer-start {
    margin-top: 10px;
  }
  .input {
    margin-top: 10px;
  }
  .timer-done {
    width: 350px;
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .timer-done img {
    display: inline;
    width: 350px;
  }
}
@media (max-width: 370px) {
  .display-timer {
    margin-bottom: 200px;
  }
  .empty-value {
    padding-bottom: 35px;
    font-size: 23px;
  }
  .inputs {
    margin-top: 15px;
  }
  .inputs .input {
    width: 85px;
    height: 75px;
  }
  .inputs .output-colon {
    font-size: 45px;
  }
  .hms span {
    font-size: 17px;
  }
  .timer-output {
    width: 355px;
    height: 160px;
    background: #464C55;
    border: none;
    border-radius: 20px;
  }
  .timer-output .timer-output-time {
    font-size: 73px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .timer-output .colon {
    font-size: 48px;
    color: #E3E3E3;
  }
  .timer-button {
    margin-top: 10px;
  }
  .timer-button .timer-start {
    font-size: 25px;
    width: 180px;
    height: 50px;
    margin-top: 15px;
  }
  .timer-done {
    width: 375px;
    height: 90vh;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .timer-done img {
    display: inline;
    width: 375px;
  }
  .timer-done h1 {
    font-size: 46px;
    margin-top: 200px;
  }
  .timer-done .done-btn {
    font-size: 23px;
    width: 170px;
    height: 45px;
  }
}
@media (max-width: 320px) {
  .display-timer {
    margin-bottom: 140px;
  }
  .empty-value {
    padding-bottom: 33px;
    font-size: 23px;
  }
  .inputs .input {
    width: 73px;
  }
  .hms span {
    font-size: 15px;
  }
  .timer-output {
    width: 300px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;
  }
  .timer-output .timer-output-time {
    font-size: 57px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .timer-output .colon {
    font-size: 43px;
    color: #E3E3E3;
  }
  .timer-button .timer-btn {
    width: 170px;
    height: 50px;
  }
  .timer-button .timer-start {
    margin-top: 15px;
  }
  .timer-done {
    width: 300px;
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .timer-done img {
    display: inline;
    width: 300px;
  }
  .timer-done h1 {
    font-size: 41px;
    margin-top: 200px;
  }
}
@media (max-width: 932px) {
  .display-stopwatch {
    margin-top: 40px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 110px;
  }
  .display-stopwatch .form {
    margin-top: 40px;
  }
}
@media (max-width: 844px) {
  .display-stopwatch {
    margin-top: 40px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 110px;
  }
  .display-stopwatch .form {
    margin-top: 40px;
  }
}
@media (max-width: 769px) {
  .display-stopwatch {
    margin-top: 40px;
  }
  .display-stopwatch .box-stopwatch {
    border-radius: 20px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 100px;
  }
  .display-stopwatch .form {
    margin-top: 40px;
  }
}
@media (max-width: 430px) {
  .display-stopwatch {
    margin-bottom: 100px;
  }
  .display-stopwatch .box-stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 66px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .display-stopwatch .box-stopwatch .miliseconds {
    font-size: 25px;
    padding-top: 35px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .start {
    margin-right: 0px;
  }
  .output-active {
    box-shadow: none;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .form .form-buttons:not(:last-child) {
    margin-bottom: 22px;
  }
  .form .stopwatch-buttons {
    font-size: 27px;
    width: 180px;
    height: 55px;
  }
}
@media (max-width: 390px) {
  .display-stopwatch {
    margin-bottom: 100px;
  }
  .display-stopwatch .box-stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 62px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .display-stopwatch .box-stopwatch .miliseconds {
    font-size: 25px;
    padding-top: 35px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .output-active {
    box-shadow: none;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .form .form-buttons:not(:last-child) {
    margin-bottom: 22px;
  }
  .form .stopwatch-buttons {
    font-size: 25px;
    width: 180px;
    height: 50px;
  }
  .start {
    margin-right: 0px;
  }
}
@media (max-width: 375px) {
  .display-stopwatch {
    margin-bottom: 150px;
  }
  .display-stopwatch .box-stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 60px;
  }
  .display-stopwatch .box-stopwatch .miliseconds {
    font-size: 25px;
    padding-top: 35px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .start {
    margin-right: 0px;
  }
}
@media (max-width: 370px) {
  .display-stopwatch .box-stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 355px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 58px;
  }
  .display-stopwatch .box-stopwatch .miliseconds {
    font-size: 25px;
    padding-top: 35px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .start {
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .display-stopwatch .box-stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;
  }
  .display-stopwatch .box-stopwatch .time p {
    font-size: 48px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .display-stopwatch .box-stopwatch .miliseconds {
    font-size: 25px;
    padding-top: 35px;
    text-shadow: none;
    color: #E3E3E3;
  }
  .start {
    margin-right: 30px;
  }
  .output-active {
    box-shadow: none;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .form .form-buttons:not(:last-child) {
    margin-bottom: 22px;
  }
  .form .stopwatch-buttons {
    width: 160px;
    height: 50px;
  }
}
@media (max-width: 844px) {
  .display-main .box-main p {
    font-size: 110px;
  }
  .display-main .box-info p {
    font-size: 27px;
    color: #959595;
  }
}
@media (max-width: 769px) {
  .display-main .box-main p {
    font-size: 100px;
  }
  .display-main .box-info p {
    font-size: 25px;
    color: #959595;
  }
}
@media (max-width: 430px) {
  .display-main {
    margin-top: 240px;
  }
  .display-main .media-main-background {
    display: block;
    width: 410px;
    margin-bottom: 70px;
  }
  .display-main .box-main p {
    font-size: 55px;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.27);
  }
  .display-main .box-info p {
    font-size: 28px;
    color: #959595;
  }
  .media-global-time {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin-top: 50px;
  }
  .mgt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .mgt .global-title {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
  }
  .mgt h2 {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 38px;
  }
  .mgt .city-name {
    font-family: "Univa Nova", sans-serif;
    font-weight: 400;
    color: #959595;
    font-size: 23px;
  }
  .mgt .media-time-span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 600;
    font-size: 46px;
  }
  .mgt:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 390px) {
  .display-main {
    margin-top: 170px;
  }
  .display-main .media-main-background {
    display: block;
    width: 375px;
    margin-bottom: 70px;
  }
  .display-main .box-main p {
    font-size: 50px;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.27);
  }
  .display-main .box-info p {
    font-size: 26px;
    color: #959595;
  }
  .media-global-time {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin-top: 50px;
  }
  .mgt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .mgt .global-title {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
  }
  .mgt h2 {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 35px;
  }
  .mgt span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 400;
    font-size: 17px;
  }
  .mgt .city-name {
    color: #959595;
    font-size: 20px;
  }
  .mgt .media-time-span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 600;
    font-size: 40px;
  }
  .mgt:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 375px) {
  .display-main {
    margin-top: 190px;
  }
  .display-main .media-main-background {
    width: 360px;
  }
  .media-global-time {
    width: 360px;
  }
}
@media (max-width: 370px) {
  .display-main {
    margin-top: 170px;
  }
  .display-main .media-main-background {
    display: block;
    width: 355px;
    margin-bottom: 70px;
  }
  .display-main .box-main p {
    font-size: 49px;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.27);
  }
  .display-main .box-info p {
    font-size: 25px;
    color: #959595;
  }
  .media-global-time {
    display: flex;
    flex-direction: column;
    width: 355px;
    margin-top: 50px;
  }
  .mgt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .mgt .global-title {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
  }
  .mgt h2 {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 34px;
  }
  .mgt span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 400;
    font-size: 17px;
  }
  .mgt .city-name {
    color: #959595;
    font-size: 20px;
  }
  .mgt .media-time-span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 600;
    font-size: 39px;
  }
  .mgt:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 320px) {
  .display-main {
    margin-top: 40px;
  }
  .display-main .media-main-background {
    display: block;
    width: 300px;
    margin-bottom: 60px;
  }
  .display-main .box-main p {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.27);
  }
  .display-main .box-info p {
    font-size: 22px;
    color: #959595;
  }
  .media-global-time {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 50px;
  }
  .mgt {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mgt .global-title {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
  }
  .mgt h2 {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 30px;
  }
  .mgt span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 400;
    font-size: 17px;
  }
  .mgt .city-name {
    color: #959595;
  }
  .mgt .media-time-span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 600;
    font-size: 36px;
  }
  .mgt:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 932px) {
  .nav-main {
    margin-top: 35px;
  }
}
@media (max-width: 844px) {
  .nav-main {
    margin-top: 35px;
  }
}
@media (max-width: 769px) {
  .nav-main {
    margin-top: 35px;
  }
}
@media (max-width: 430px) {
  .nav-main {
    display: none;
  }
  .mune-burger-box {
    display: flex;
  }
  .media-nav {
    display: flex;
    align-items: center;
  }
  .menu-container {
    display: flex;
  }
  .mune-burger-box {
    position: absolute;
    left: 10px;
    z-index: 999;
  }
  .mune-burger-box .btn-menu-burger img {
    width: 45px;
    height: 45px;
  }
  .menu-burger-icon {
    transform: rotate(180deg);
  }
  .media-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .media-nav ul li span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 43px;
  }
  .media-nav .media-nav-clock {
    width: 50px;
    height: 50px;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-100%);
    transition: all ease 0.6s;
    background: #37393c;
    padding: 35px 0px 0px 10px;
  }
  .menu-container.active {
    transform: translateX(0%);
  }
  .menu-item {
    display: flex;
    align-items: center;
  }
  .menu-item .menu-item-a {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #E3E3E3;
  }
  .menu-item .menu-clock-img {
    width: 31px;
    height: 31px;
  }
  .menu-item img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 390px) {
  .nav-main {
    display: none;
  }
  .mune-burger-box {
    display: flex;
  }
  .media-nav {
    display: flex;
    align-items: center;
  }
  .menu-container {
    display: flex;
  }
  .mune-burger-box {
    position: absolute;
    left: 10px;
    z-index: 999;
  }
  .mune-burger-box .btn-menu-burger img {
    width: 45px;
    height: 45px;
  }
  .menu-burger-icon {
    transform: rotate(180deg);
  }
  .media-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .media-nav ul li span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 38px;
  }
  .media-nav .media-nav-clock {
    width: 50px;
    height: 50px;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-100%);
    transition: all ease 0.6s;
    background: #37393c;
    padding: 35px 0px 0px 10px;
  }
  .menu-container.active {
    transform: translateX(0%);
  }
  .menu-item {
    display: flex;
    align-items: center;
  }
  .menu-item .menu-item-a {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #E3E3E3;
  }
  .menu-item .menu-clock-img {
    width: 31px;
    height: 31px;
  }
  .menu-item img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .nav-main {
    display: none;
  }
  .mune-burger-box {
    display: flex;
  }
  .media-nav {
    display: flex;
    align-items: center;
  }
  .menu-container {
    display: flex;
  }
  .mune-burger-box {
    position: absolute;
    left: 10px;
  }
  .mune-burger-box .btn-menu-burger img {
    width: 45px;
    height: 45px;
  }
  .menu-burger-icon {
    transform: rotate(180deg);
  }
  .media-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .media-nav ul li span {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 32px;
  }
  .media-nav .media-nav-clock {
    width: 50px;
    height: 50px;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 65px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-100%);
    transition: all ease 0.6s;
    background: #37393c;
    padding: 35px 0px 0px 10px;
  }
  .menu-container.active {
    transform: translateX(0%);
  }
  .menu-item {
    display: flex;
    align-items: center;
  }
  .menu-item .menu-item-a {
    font-family: "Univa Nova", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #E3E3E3;
  }
  .menu-item .menu-clock-img {
    width: 31px;
    height: 31px;
  }
  .menu-item img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=style.css.map */