.display-stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .box-stopwatch {
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease;

    .time {
      display: flex;

      p {
        @include font-stopwatch;
        text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.5);
      }
    }

    .miliseconds {
      font-size: 45px;
      font-family: $font-iniva;
      font-weight: 500;
      padding-bottom: 15px;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 70px;
}

.stopwatch-buttons {
  @include font-stopwatch-start;
}

.start {
  margin-right: 30px;
}

.start-btn {
  width: 130px;
  height: 50px;
  background: #464C55;
  border-radius: 16px;
  border: none;
  text-align: center;
}

.reset-btn.abb {
  opacity: 100%;
}

.reset-btn {
  opacity: 30%;
  transition: 0.5s;
  width: 130px;
  height: 50px;
  background: #B74646;
  border-radius: 16px;
  border: none;
  text-align: center;
}