.display-stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .box-stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;

    .time {
      display: flex;

      p {
        @include font-stopwatch;
        text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 70px;
}

.stopwatch-buttons {
  @include font-stopwatch-start;
}

.start {  
  button {
    width: 130px;
    height: 50px;
    background: #464C55;
    border-radius: 16px;
    border: none;
    text-align: center;
  }
}

.stop-btn.active {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 100;
  animation: opa 0.7s linear 1;
}

.stop {
  margin-right: 70px;
  margin-left: 70px;

  button {
    transition: ease 0.3s;
    opacity: 0;

    width: 130px;
    height: 50px;
    background: #B74646;
    border-radius: 16px;
    border: none;
    text-align: center;
  }
}

.reset-btn.active {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 100;
  animation: opa 0.7s linear 1;
}

.reset {
  button {
    transition: ease 0.3s;
    opacity: 0;

    width: 130px;
    height: 50px;
    background: #B74646;
    border-radius: 16px;
    border: none;
    text-align: center;
  }
}

@keyframes opa {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes apo {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}