.container {
  margin: 0 auto;
  background-color: #464C55;
  border-radius: 30px;
  border: none;
  padding: 25px 30px 25px 30px;
  transition: 2s ease-in;

  h2 {
    @include font-theme;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 27px;
  margin-top: 20px;

  .item {
    width: 320px;
    height: 230px;
    background: #464C55;
    border-radius: 30px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      object-fit: cover;
      transition: 0.5s ease;

      &:hover {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}