input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

.hms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    @include font-timer-input-subtitle;
    margin-top: 10px;
  }
}

.timer-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1060px;
  height: 585px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 30px;
  border: none;
  padding: 25px 30px 25px 30px;

  img {
    margin-top: 30px;
  }

  h1 {
    @include font-timer-done-title;

    margin-top: 70px;
    margin-bottom: 20px;
  }

  button {
    @include font-timer-done-button;
    width: 140px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid #464C55;
    background-color: transparent;
    transition: 0.5s ease;

    &:hover {
      color: white;
      background: #464C55;
    }
  }
}

.timer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-output {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;

  .colon {
    @include timer-output-colon;
  }

  .timer-output-time {
    @include timer-output-time;
  }

}

.inputs {
  display: flex;
  align-items: center;

  .output-colon {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .input {
    display: flex;
    text-align: center;

    @include font-timer-input;
    width: 80px;
    height: 70px;
    background: #454A54;
    border: 1.5px solid #B6B6B6;
    border-radius: 10px;

    &::placeholder {
      color: white;
    }
  }
}

.timer-button {
  margin-top: 30px;
}

.timer-start {
  @include font-timer-start;
  width: 160px;
  height: 55px;
  background: #464C55;
  box-shadow: 0px 4px 10px 0.5px rgba(70, 76, 85, 0.5);
  border-radius: 16px;
  border: none;
}