@media (max-width: 320px) {
  .display-main {
    margin-top: 40px;

    .media-main-background {
      display: block;
      width: 300px;
      margin-bottom: 60px;
    }

    .box-main {
      p {
        font-size: 42px;
      }
    }

    .box-info {
      p {
        font-size: 22px;
        color: #C9C9C9;
      }
    }
  }

  .media-global-time {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 50px;
  }

  .mgt {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .global-title {
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
    }

    h2 {
      font-family: $font-iniva;
      font-weight: 500;
      font-size: 30px;
    }

    span {
      font-family: $font-iniva;
      font-weight: 400;
      font-size: 17px;
      color: #C9C9C9;
    }
    
    .media-time-span {
      font-family: $font-iniva;
      font-weight: 500;
      font-size: 36px;
      color: white;
    }
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}