@media (max-width: 390px) {
  .display-stopwatch {
    margin-top: 40px;

    .box-stopwatch {
      width: 375px;
      height: 165px;
      background: #464C55;
      border: none;
      border-radius: 20px;

      .time {
        p {
          font-size: 68px;
          text-shadow: none;
          color: #E3E3E3;
        }
      }
    }
  }

  .output-active {
    box-shadow: none;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    .form-buttons {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    .stopwatch-buttons {
      font-size: 25px;
      width: 180px;
      height: 50px;
    }
  }
}

@media (max-width: 320px) {
  .display-stopwatch {
    .box-stopwatch {
      width: 300px;
      height: 165px;
      background: #464C55;
      border: none;
      border-radius: 20px;

      .time {
        p {
          font-size: 54px;
          text-shadow: none;
          color: #E3E3E3;
        }
      }
    }
  }

  .output-active {
    box-shadow: none;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;

    .form-buttons {
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }

    .stopwatch-buttons {
      width: 160px;
      height: 50px;
    }
  }
}