@media (max-width: 932px) {
  .display-timer {
    margin-bottom: 40px;
    margin-top: 160px;
  }

  .empty-value {
    padding-bottom: 50px;
    font-size: 18px;
    z-index: -999;
  }

  .timer-output {
    margin-bottom: 40px;

    .timer-output-time {
      font-size: 110px;
    }

    .colon {
      font-size: 58px;
    }
  }

  .inputs {
    margin-top: 0px;

    .input {
      width: 70px;
      height: 60px;
      font-size: 25px;
    }

    .output-colon {
      font-size: 30px;
    }
  }

  .hms {
    span {
      font-size: 13px;
    }
  }

  .timer-button {
    margin-top: 0px;
    margin-bottom: 20px;

    .timer-start {
      font-size: 20px;
      width: 140px;
      height: 42px;
    }
  }

  .timer-done {
    width: 700px;
    height: 320px;
    margin-bottom: 90px;

    h1 {
      font-size: 50px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    img {
      display: none;
    }

    .done-btn {
      font-size: 20px;
      width: 145px;
      height: 40px;
    }
  }
}

@media (max-width: 844px) {
  .display-timer {
    margin-bottom: 40px;
    margin-top: 160px;
  }

  .empty-value {
    padding-bottom: 50px;
    font-size: 18px;
    z-index: -999;
  }

  .timer-output {
    margin-bottom: 40px;

    .timer-output-time {
      font-size: 110px;
    }

    .colon {
      font-size: 58px;
    }
  }

  .inputs {
    margin-top: 0px;

    .input {
      width: 70px;
      height: 60px;
      font-size: 25px;
    }

    .output-colon {
      font-size: 30px;
    }
  }

  .hms {
    span {
      font-size: 13px;
    }
  }

  .timer-button {
    margin-top: 0px;
    margin-bottom: 20px;

    .timer-start {
      font-size: 20px;
      width: 140px;
      height: 42px;
    }
  }

  .timer-done {
    width: 700px;
    height: 320px;
    margin-bottom: 90px;

    img {
      display: none;
    }

    h1 {
      font-size: 50px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .done-btn {
      font-size: 20px;
      width: 145px;
      height: 40px;
    }
  }
}

@media (max-width: 769px) {
  .display-timer {
    margin-bottom: 40px;
    margin-top: 160px;
  }

  .empty-value {
    padding-bottom: 50px;
    font-size: 18px;
    z-index: -999;
  }

  .timer-output {
    margin-bottom: 40px;

    .timer-output-time {
      font-size: 100px;
    }

    .colon {
      font-size: 58px;
    }
  }

  .inputs {
    margin-top: 0px;

    .input {
      width: 70px;
      height: 60px;
      font-size: 25px;
    }

    .output-colon {
      font-size: 30px;
    }
  }

  .hms {
    span {
      font-size: 13px;
    }
  }

  .timer-button {
    margin-top: 0px;
    margin-bottom: 20px;

    .timer-start {
      font-size: 20px;
      width: 140px;
      height: 42px;
    }
  }

  .timer-done {
    width: 700px;
    height: 250px;
    margin-bottom: 160px;

    img {
      display: none;
    }

    h1 {
      font-size: 50px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .done-btn {
      font-size: 20px;
      width: 145px;
      height: 40px;
    }
  }
}

@media (max-width: 430px) {
  .display-timer {
    margin-bottom: 100px;
  }

  .empty-value {
    padding-bottom: 40px;
    font-size: 25px;
  }

  .inputs {
    margin-top: 10px;

    .input {
      width: 90px;
      height: 80px;
      font-size: 38px;
    }

    .output-colon {
      font-size: 48px;
    }
  }

  .hms {
    span {
      font-size: 17px;
    }
  }

  .timer-output {
    width: 410px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;

    .timer-output-time {
      font-size: 80px;
      text-shadow: none;
      color: #E3E3E3;
    }

    .colon {
      font-size: 48px;
      color: #E3E3E3;
    }
  }

  .timer-button {
    margin-top: 20px;

    .timer-start {
      font-size: 25px;
      width: 180px;
      height: 55px;
      margin-top: 10px;
    }
  }

  .timer-done {
    width: 375px;
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 0px;

    img {
      display: inline;
      width: 375px;
    }

    h1 {
      font-size: 46px;
      margin-top: 200px;
    }

    .done-btn {
      font-size: 23px;
      width: 170px;
      height: 45px;
    }
  }
}

@media (max-width: 390px) {
  .display-timer {
    margin-bottom: 150px;
  }

  .empty-value {
    padding-bottom: 32px;
    font-size: 25px;
  }

  .inputs {
    margin-top: 15px;

    .input {
      width: 85px;
      height: 75px;
    }

    .output-colon {
      font-size: 45px;
    }
  }

  .hms {
    span {
      font-size: 17px;
    }
  }

  .timer-output {
    width: 375px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;

    .timer-output-time {
      font-size: 76px;
      text-shadow: none;
      color: #E3E3E3;
    }

    .colon {
      font-size: 48px;
      color: #E3E3E3;
    }
  }

  .timer-button {
    margin-top: 15px;

    .timer-start {
      font-size: 25px;
      width: 180px;
      height: 50px;
      margin-top: 10px;
    }
  }

  .timer-done {
    width: 375px;
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 0px;

    img {
      display: inline;
      width: 375px;
    }

    h1 {
      font-size: 46px;
      margin-top: 200px;
    }

    .done-btn {
      font-size: 23px;
      width: 170px;
      height: 45px;
    }
  }
}

@media (max-width: 375px) {
  .timer-output {
    width: 360px;

    .timer-output-time {
      font-size: 73px;
    }
  }

  .empty-value {
    padding-bottom: 35px;
    font-size: 23px;
  }

  .timer-start {
    margin-top: 10px;
  }

  .input {
    margin-top: 10px;
  }

  .timer-done {
    width: 350px;
    height: 90vh;

    margin-top: 20px;
    margin-bottom: 0px;

    img {
      display: inline;
      width: 350px;
    }
  }
}

@media (max-width: 370px) {
  .display-timer {
    margin-bottom: 200px;
  }

  .empty-value {
    padding-bottom: 35px;
    font-size: 23px;
  }

  .inputs {
    margin-top: 15px;

    .input {
      width: 85px;
      height: 75px;
    }

    .output-colon {
      font-size: 45px;
    }
  }

  .hms {
    span {
      font-size: 17px;
    }
  }

  .timer-output {
    width: 355px;
    height: 160px;
    background: #464C55;
    border: none;
    border-radius: 20px;

    .timer-output-time {
      font-size: 73px;
      text-shadow: none;
      color: #E3E3E3;
    }

    .colon {
      font-size: 48px;
      color: #E3E3E3;
    }
  }

  .timer-button {
    margin-top: 10px;

    .timer-start {
      font-size: 25px;
      width: 180px;
      height: 50px;
      margin-top: 15px;
    }
  }

  .timer-done {
    width: 375px;
    height: 90vh;
    margin-top: 50px;
    margin-bottom: 0px;

    img {
      display: inline;
      width: 375px;
    }

    h1 {
      font-size: 46px;
      margin-top: 200px;
    }

    .done-btn {
      font-size: 23px;
      width: 170px;
      height: 45px;
    }
  }
}

@media (max-width: 320px) {
  .display-timer {
    margin-bottom: 140px;
  }

  .empty-value {
    padding-bottom: 33px;
    font-size: 23px;
  }

  .inputs {
    .input {
      width: 73px;
    }
  }

  .hms {
    span {
      font-size: 15px;
    }
  }

  .timer-output {
    width: 300px;
    height: 165px;
    background: #464C55;
    border: none;
    border-radius: 20px;

    .timer-output-time {
      font-size: 57px;
      text-shadow: none;
      color: #E3E3E3;
    }

    .colon {
      font-size: 43px;
      color: #E3E3E3;
    }
  }


  .timer-button {
    .timer-btn {
      width: 170px;
      height: 50px
    }

    .timer-start {
      margin-top: 15px;
    }
  }

  .timer-done {
    width: 300px;
    height: 90vh;
    margin-top: 20px;
    margin-bottom: 0px;

    img {
      display: inline;
      width: 300px;
    }

    h1 {
      font-size: 41px;
      margin-top: 200px;
    }
  }
}