* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: white;
  height: 100vh;
  background: #222222;
}