// Font Family Links
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


// Univa Nova - Bold
@font-face {
  font-family: 'Univa Nova';
  src: url(../fonts/UnivaNova-Bold.woff2),
  url(../fonts/UnivaNova-Bold.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

// Univa Nova - Medium
@font-face {
  font-family: 'Univa Nova';
  src: url(../fonts/UnivaNova-Medium.woff2),
  url(../fonts/UnivaNova-Medium.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

// Univa Nova - Regular
@font-face {
  font-family: 'Univa Nova';
  src: url(../fonts/UnivaNova-Regular.woff2),
  url(../fonts/UnivaNova-Regular.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

// Font family
$font-iniva: 'Univa Nova', sans-serif;
$font-roboto: 'Roboto', sans-serif;
