.nav-stopwatch {
  ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .home-active {
      margin-right: 50px;

      .home {
        width: 25px;
        height: 25px;
      }
    }

    li {
      &:not(:last-child) {
        margin-right: 50px;
      }

      a {
        @include font-nav;

        &:hover {
          border-bottom: 1.5px solid white;
        }
      }
    }
  }
}

.display-stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .box-stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;

    width: 800px;
    height: 228px;
    background: #464C55;
    border-radius: 30px;

    .mini-time {
      display: flex;

      p {
        font-family: 'Dolce Vita', sans-serif;
        font-size: 100px;
        // @include font-stopwatch;
      }
    }
  }
}

.output-active {
  box-shadow: 0px 0px 15px 2px #464C55;
}

// ! Btn active class
.btn-active-start {
  border: 2px solid red;
  border-radius: 16px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 70px;
}

.start {
  button {
    width: 130px;
    height: 50px;
    background: #464C55;
    box-shadow: 0px 4px 10px 0.5px rgba(70, 76, 85, 0.5);
    border-radius: 16px;
    border: none;
    text-align: center;
    transition: 0.5s;

    font-family: $font-roboto;
    font-size: px;
    color: white;
  }
}

.stop {
  margin-right: 70px;
  margin-left: 70px;

  button {
    width: 130px;
    height: 50px;
    background: #8A4444;
    box-shadow: 0px 4px 10px 1px rgba(138, 68, 68, 0.5);
    border-radius: 16px;
    border: none;
    text-align: center;
    transition: 0.5s;

    font-family: $font-roboto;
    font-size: px;
    color: white;
  }
}

.reset {
  button {
    width: 130px;
    height: 50px;
    background: #8A4444;
    box-shadow: 0px 4px 10px 1px rgba(138, 68, 68, 0.5);
    border-radius: 16px;
    border: none;
    text-align: center;
    transition: 0.5s;

    font-family: $font-roboto;
    font-size: px;
    color: white;
  }
}